.search-form {
  margin-top: 10px;
}

.media {
  margin-top: 5px;
  border: 1px gray;
}

.thumbnail-image {
  max-width: 200px;
  height: auto;
}

.navbar {
  background-color: #424f95 !important;
}

.blog-list {
  background-color: aliceblue;
}

.blog {
  padding: 5 5 5 5;
}

.view {
  height: 100%;
}

.back-link {
  cursor: pointer;
  color: blue;
}
.back-link:hover {
  color: darkblue;
  padding: 1px;
  text-decoration: underline;
}
